html{
    display: table;
    margin:auto;
    background-color:#fff;
}

body{
    background-color:#fff;
    margin:0px;
    height:100%;
}
h2 {
    text-align: center;
    font-weight: bold;
}
.left {
    text-align: left;
}
div#content {
    width: 680px;
}
div#login {
    width: 480px;
    margin:auto;
}
form {
    border: 5px solid #f1f1f1;
    box-shadow: 0 0 2px 2px #ccc;
    margin-bottom: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button#comment {
    width: 80%;
}

button:hover {
    opacity: 0.8;
}
textarea{
    width:99.5%;
    resize: none;
}

.cancelbtn2 {
    border: none;
    width: auto;
    padding: 6px 15px;
    color: white;
    background-color: #f44336;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}
.cancelbtn {
    border: none;
    display: block;
    width: 19.405%;
    height: auto;
    background: #f44336;
    padding: 13px 0px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}
.cancelbtn:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
fieldset {
    border: 5px solid #f1f1f1;
    box-shadow: 0 0 2px 2px #ccc;
    background:#fff;
    border-radius: 1px;
    padding: 5px;
    margin-bottom:10px;
}

fieldset legend {
    background: white;
    color: black;
    padding: 3px 3px ;
    border-radius: 3px;
    border: 3px solid #f1f1f1;
    box-shadow: 0 0 2px 1px #ccc;
    margin-left: 15px;
    font-size:100%;
    font-family: Arial, Helvetica, sans-serif;
}
fieldset:after {
  border-radius: 3px;
  border: 3px solid #f1f1f1;
    box-shadow: 0 0 2px 1px #ccc;
    content: "delete";
    position: absolute;
    margin-top: -90px;
    right: 31%;
    background: #f44336;
    padding: 4px 4px ;
    color: white;
    transform-origin:top right;
}
fieldset:hover:after{
    opacity: 0.8;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}