* {
margin:0;
padding:0;
}
*::before, *::after {
   box-sizing: border-box;
    }

html, body {
    height:100%;
}
.header {
    }
.content {
    width:1400px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 300px;
    margin: 20px auto;
}
.left-col {
float:left;
    width:100px;
    height: 20px;
    background: #ff0000;
}
.middle-col {
    width:100px;
    height: 20px;
    background: #ff0000;
    clear:both;
}
.right-col {
float:left;
    width:100px;
    height: 20px;
    background: #ff0000;
}
.group {}
.content {}
.training {}
.social {}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}